<!-- index.html -->
{% extends 'layouts/application.contact.html' %}

{% block content %}
  <main role="main">
    <section class="c-section c-section--contact">
      <div class="contact__logo"></div>
      <div class="contact__info">
        <div class="contact__info__item">Turbo is a multidisciplinary design and art-direction studio run by Saeed Abu-Jaber and Mothanna Hussein.</div>
        <div class="contact__info__item">45 King Al Hussein Street, Amman, Jordan</div>
        <a href="mailto:info@turrrbo.com" class="contact__info__item contact__info__item--social">info@turrrbo.com</a>
        <a target="_blank" href="https://www.facebook.com/StudioTurrrbo" class="contact__info__item contact__info__item--social">facebook/StudioTurrrbo</a>
        <a target="_blank" href="https://www.instagram.com/45Turbo/" class="contact__info__item contact__info__item--social">instagram/45Turbo</a>
      </div>
    </section>
  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
