<!-- space.html -->
{% set page_data = global['space-landing'] %}
{% set page = global['space'] %}
{% set classes="landing space" %}
{% set length = 0 %}


{% block content %}
  <main role="main">
    <section class="c-section">
      <div class="c-slider c-slider--space c-slider--full">
        {% for project in page_data %}
        {%set length = loop.length %}
          <div class="c-slider__slide">
            <div class="c-slider__slide_img" style="background-image: url('images/{{project}}');"></div>
          </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock %}

{% extends 'layouts/application.landing.html' %}

{% block javascript %}
{% endblock %}
