<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Turbo{% endblock %}</title>
  <link rel="stylesheet" href="css/main.css">
  {% block head %}{% endblock %}
</head>
<body class="front">
  <div class="loader">
    <div class="spinner">Turbo <span class="spinner-dot"></span><span class="spinner-dot"></span><span class="spinner-dot"></span></div>
  </div>
  <div class="sidebar">
    <div class="wrapper">
      {% include "partials/header.front.html" %}
    </div>
  </div>
  {% block content %}{% endblock %}
  <!-- bower:js -->
  <script src="js/vendor/jquery.min.js"></script>
  <!-- endbower -->
  <!-- <script src="js/utils.js"></script> -->
  <script src="js/main.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
