{% for project in page_data['slides'] %}
  {% set length = loop.length %}
  <div class="c-slider__slide">
    {% if project.img %}
      <a class="c-slider__slide_img-link" href="images/{{project.imgL}}" target="_blank">
        {% if length > 1 %}
          <img  data-lazy="images/{{project.img}}" alt="">
        {% else %}
          <img  src="images/{{project.img}}" alt="">
        {% endif %}
        <!-- <div class="c-slider__slide_img" style="background-image: url('images/{{project.img}}');"></div> -->
      </a>
    {% endif %}
    {% if project.video %}
      <video class="c-slider__slide_video" src="resources/{{project.video}}" poster="images/{{project.poster}}"></video>
      <i class="playVid"></i>
    {% endif %}
  </div>
{% endfor %}
