<header class="website-header">
  <div class="website-nav__drawer">
    <i class="website-nav__drawer__el"></i>
    <i class="website-nav__drawer__el"></i>
    <i class="website-nav__drawer__el"></i>
  </div>
  <div class="website-nav">
    <h1 class="website-nav__item website-nav__item--dash"><a href="index.html">turbo</a></h1>
    <div class="website-nav__item website-nav__item--dash">Amman,Jordan <br>45 King Hussein St.</div>
    <a class="website-nav__item" href="space.html">Space</a>
    <a class="website-nav__item website-nav__item--dash" href="work.html">Work</a>
    <a class="website-nav__item" href="contact.html">Contact</a>
    <nav class="inner__nav">
      
    </nav>
  </div>
</header>
