.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  z-index: -1;
  transform: translateZ(0);
  transition: opacity 0.5s ease-in-out;
}
.c-modal__inner {
  @include wrapper;
  height: 100vh;
}
.c-modal__img {
  height: 100%;
  width: 100%;
  max-width: 67em;
  margin: 0 auto;
  padding: 15vh 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.closeModal {
  position: absolute;
  right: $gutter/3;
  top: $gutter/3;
  font-size: 3em;
  color: $yellow;
  cursor: pointer;
  @include respond-to(medium) {
    right: $gutter--large/3;
  }
  @include respond-to(large) {
    right: $gutter--max/3;
  }
}
